/* FONT */
@font-face {
    font-family: 'Lionel Classic';
    src: url('font/LionelClassic.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lionel Classic', serif;
    background-color: #f3e9d2;
    background-image:
        linear-gradient(rgba(0,0,0,0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.04) 1px, transparent 1px);
    background-size: 25px 25px;
    color: #000;
}

/* CONTENITORE */
.container {
    width: 85%;
    margin: auto;
    padding: 30px 0;
}

/* TITOLO PRINCIPALE */
h1 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* MENU */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 18px;
    border: 1px solid black;
    transition: 0.3s;
}

nav a:hover {
    background-color: rgba(0,0,0,0.1);
}

/* SEZIONI */
section {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 15px;
}

hr {
    margin: 30px 0;
}

/* TESTO + IMMAGINE */
.flex {
    display: flex;
    gap: 30px;
}

.flex img {
    width: 250px;
    border: 1px solid black;
}

/* CITAZIONI */
.quote {
    text-align: center;
    font-style: italic;
    margin: 25px 0;
}

/* ANCHOR */
a {
    color: #000;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* LISTA */
ul {
    padding-left: 10px;
}

ul li {
    margin-bottom: 10px; /* Distanza di 5px sotto ogni voce */
}

/* TITOLI MINORI */
h4, h5 {
    margin-top: 15px;
}

/* GRAZIE */
.grazie {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}
